/* 
inline styling overrides all
id selector overrides class
class selector overrides general selectors (like header and body)

Should only use id for one specific thing, class for more general things
*/
* {
    margin: 0;
    padding:  0;
}

body {
    background:rgb(32,35,48);
    font-family: sans-serif, "Arial"; /*most common font for websites*/
    color: white;
    
    /*animation-name: myanimation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 2; 
    animation-direction: alternate;*/

    /*animation: myanimation 2s ease 1s 2 alternate; /*same as above*/
}
header {
    margin: 50px;
    text-align: center; /*theres also justify, left, and right*/
    /*font-size: 1.25em;
    font-style: italic;
    font-weight: 600; /*makes it bold*/
}

li {
    color: blue;
}
.list1 { /*class*/
    color: green;
}

#apple1{ /*id*/
    color: red;
}
ol > li:nth-child(2){ /*psuedoselector*/
    color: orange;
}
#orange1:hover{ /*psuedoselector*/
    color: pink
}

/*These two are useful for styling links*/
#google-link:link{ 
    color: blue;
    text-decoration: line-through; /*theres also none, underline and overline*/
    text-transform: capitalize; /*theres also uppercase and lowercase*/
}
#google-link:visited{
    color: red;
}

/* how to select all selector after a selector (p's after h1) 
h1 + p {
    color: green;
} 
/*or (h1 ~ p)*/

/* all li child of a parent ol gets properties
ol li {
    color: grey;
} 
direct li child of parent ol gets properties
ol > li {
    color: yellow;
}
*/

/* can directly choose an attribute (can use: ^= *= and ~=. Starts with, contains, and after whitespace)
a[id=google-link]{
    color: black;
} */

img {
    border : 5px dashed red;
    margin : 20px 0 20px 40%;/*(top right bottom left) or (top&bottom left&right). Theres also padding.*/
}
.images{
    display: flex;
    justify-content: center;

}
#dog-image {
    height: 300px;
    width: 300px;
    background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*);
    background-size: contain;
    /*background-repeat: no-repeat;*/
}

#gradient {
    height: 300px;
    width: 300px;
    background: linear-gradient(to left, purple, pink);
    /*float: right; /*pushes section to right*/
    /*display: none /*(can be used to remove section)*/
}
#gradient2 {
    height: 300px;
    width: 300px;
    background: radial-gradient(circle, red 20%, pink 70%);
}
.container {
    background: white;
    margin: 10px 0px;
}

.container2 {
    background: white;
    height: 300px;
    margin: 10px 0px;
    
    display: flex;
    flex-direction: row; /*takes items in container and place them in a row*/
    /*flex-wrap: wrap; /*takes items that exceed container and wrap them to next row*/
    justify-content: center; /*centers all item containers (theres also space-between and space-around)*/
    align-items: center;
}

.container-item{
    background: green;
    color: white;
    text-align: center;
    font-size: medium;

    width: 70px;
    line-height: 50px; /*changes height of container but keeps text centered*/
    margin: 10px 10px;
}

.grid-container {
    background: white;
    height: 300px;
    margin: 10px 0px;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto; /*ex: 70% 30%*/
    /*grid-gap: 100px 150px; /*set row & col space gaps*/

    justify-content: space-evenly; /*center, start, end, space-around, space-between, and space-evenly*/
    align-content: center; /*center, start, end, space-around, space-between, and space-evenly*/

}

.grid-item {
    text-align: center;
    font-size: medium;
    width: 50px;
    line-height: 50px;
    margin: 10px 10px;
    border-radius: 50%;
    /* grid-column-start: 1;
  grid-column-end: 4; */
    /*border-radius: 0 50% 50% 0; /*can make circles and semi-circle*/
}



.btn {
    margin: 0px 0px 10px 10px;
    padding: 10px 15px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: rgb(89, 150, 255);


    /*Animations*/
    /*if you want other browser support use -webkit-, -moz-, -o-, etc. (search this up)*/
    transition: background,padding 500ms ease; /*(works with psuedoselector, ex:hover) can use: all*/
    
    /*transform: scale(2.5); 
      transform: translate(50px, 30px);
      transform: rotate(-90deg);
      transform: shewX(45deg);
      transform: shewY(-45deg);
      transform: matrix(); <- people rarely use this
      /*other functions to make interactive gui*/
}

.btn:hover {
    background: rgb(147, 187, 255);
    padding: 20px 30px;
}

/*Animations using keyframes (for body background)*/
@keyframes myanimation {
    /*0% {background: red; transform: translate(0px, 0px);}
    50% {background: yellow; transform: translate(10px, 10px);}
    100% {background: grey; transform: translate(20px, 20px);} /*can use to {} and from{}*/
}








/* input animation (for email and password)*/
.form div {
    width: 30%;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin: 30px 0px;
}

.form div input{
    width: 100%;
    height: 100%;
    /*font-size: 50px;*/
    padding-top: 8px;
    color:grey;
    border: none;
    outline: none;
}

/*underline before clicking for label*/
.form-control{
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

/*the blue underline after clicking should change translateX from -100% to 0% to make it visible*/
.form-control::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: all 0s linear;
}

.form-control span{
    color: black;
    position: absolute;
    bottom: 0px;
    transition: all 0.3s ease;
}

/*change span after focusing(clicking) on input*/
.form div input:focus + .form-control span, .form div input:valid + .form-control span{
    transform: translateY(-210%);
    font-size: 10px;
    color: blue;
}

/*change underline to blue*/
.form div input:focus + .form-control::after, .form div input:valid + .form-control::after{
    transform: translateX(0%);
}




















#logo {
    margin: 10px;
}

/*SVG animation*/
#logo path:nth-child(2){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 0s;
}

#logo path:nth-child(3){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 0.3s;
}

#logo path:nth-child(4){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 0.6s;
}

#logo path:nth-child(5){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 0.9s;
}

#logo path:nth-child(6){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 1.2s;
}
#logo path:nth-child(7){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 1.5s;
}
#logo path:nth-child(8){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 1.8s;
}
#logo path:nth-child(9){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 2.1s;
}
#logo path:nth-child(10){
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: logo-animation 3s ease forwards 2.4s;
}

@keyframes logo-animation{
    to {stroke-dashoffset: 0%;}
}









/*navigation bar*/
nav {
    height: 8vh;
    background: rgb(19, 20, 29);

}

/*makes the navigation bar clickable and in right position*/
#nav-line{
    position: absolute;
    cursor: pointer;
    right: 1.5%;
    top: 1.7%;
    transform: translate(-15%, -10%);
    z-index: 2; /*makes it so that nav bar is still visible*/
}

/*makes the navigation bar*/
.line {
    width: 5vh;
    height: .9vh;
    background: white;
    margin: .8vh;
}

.nav-links{
    height: 100vh;
    width: 100%;
    /*margin-left: auto; /*will put content on right side*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: rgb(19, 20, 29);
    font-size: 25px;

    clip-path: circle(100px at 90% -30%);
    transition: all .5s ease-out;
    pointer-events: none;
}
.nav-links.open{
    clip-path: circle(10000px at 90% -10%);
    pointer-events: all;
}

nav li {
    color:transparent
}
nav a {
    text-decoration: none;
    color: white
}
nav a:visited{
    color: white
}

/*@media screen and (max-width: 600px){
    .nav-links{
        display:none;
    }
}*/