* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background: black;
}
main{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.calculator{
    position: relative;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 36%;
    height: 55vh;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto;
    border: 2px solid white;
    border-radius: 5%;
}
.display{
    grid-column-start: span 4;
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-rows: 8% auto 8%;
}
.hello{
    background-color: rgba(155, 108, 90, 0.8);
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    padding-right: 8px;
    border-radius: 5px;
    margin-top: 10px;
    
}
.hello h3{
    transform: translateY(15%);
}
.buttons1{
    grid-column-start: span 3;
    grid-row-start: 3;
    grid-row-end: -1;
    font-size: larger;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin: 0 15px 0 25px;
}
.buttons1 *{
    position: relative;
    color: white;
    background-color: rgba(253, 122, 70, 1);
    width: 70%;
    height: 60%;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
    transition: all .6s ease;
}
.buttons1 *:hover{
    background-color: rgba(253, 122, 70, .5);
}
.buttons2{
    grid-row-start: 3;
    grid-row-end: -1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin-right: 17px;
}
.buttons2 *{
    background-color: rgba(255, 160, 122, 1);
    color: white;
    width: 70%;
    height: 60%;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
    transition: all .6s ease;
}
.buttons2 *:hover{
    background-color: rgba(255, 160, 122, .5);
}

.buttons3{
    width: 87%;
    height: 90%;
    font-size: larger;
    grid-column-start: span 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 15px 0 20px;

}
.buttons3 *{
    cursor: pointer;
    border-radius: 5%;
    margin: 5%;
    transition: all 1s ease;
}

.buttons3 .AC{
    background: rgba(255, 160, 122, 1);
    grid-column-start: span 2; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons3 .CE{
    background: rgba(255, 160, 122, .7);
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons3 .AC:hover, .buttons3 .CE:hover{
    background:  rgba(255, 160, 122, .6);
}
.back{
    position: relative;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
    position: relative;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arrow{
    margin: 0 5vh;
    transform: scale(.3);
    cursor: pointer;
}
.arrow:hover{
    animation: hover 2s ease-in-out infinite;
}
@keyframes hover {
    0% {transform: scale(.3);}
    50% {transform: scale(.45);}
    100% {transform: scale(.3);}
}

.button{
    cursor: pointer;
}