* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background: black;
}

main {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    opacity: 0;
    animation: welcome 1s ease forwards 1.2s;
}
.content{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.content div{
    transform: translateY(-5%);
}
@keyframes welcome{
    from {opacity: 0;}
    to {opacity: 1;}
}
.nav-bar{
    width: 100%;
    height: 10vh;
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar h2{
    margin-left: 5vh;
}
.links {
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    
}
.links a, .links p{
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 0.5 ease;
}
.links a:hover, .links p:hover{
    color: rgb(165, 163, 163);
}

.projectsbar {
    position: absolute;
    width: 15%;
    height: 50vh;
    background: rgb(42, 42, 42);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.6vh;
    

}
.projectsbar.open{
    visibility: visible;
}
.projectsbar.close, .contactsbar.close{
    visibility: hidden;
}
.contactsbar{
    position: absolute;
    width: 15%;
    height: 50vh;
    background: rgb(42, 42, 42);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.6vh;
    transform: translateX(-61%);
}
.contactsbar.open{
    visibility: visible;
}
.contactsbar a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#linkedin {
    width: 9vh;
    height: 6vh;
}
img {
    width: 5vh;
    height: 5vh;
}
.hello{
    position: relative;
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back{
    position: relative;
    width: 20%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.next{
    position: relative;
    width: 20%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.arrow{
    margin: 0 5vh;
    transform: scale(.3);
    /* cursor: pointer; */
}
.arrow:hover{
    animation: hover 2s ease-in-out infinite;
}
@keyframes hover {
    0% {transform: scale(.3);}
    50% {transform: scale(.45);}
    100% {transform: scale(.3);}
}

.start-display {
    background: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: start 0.5s ease forwards .5s;
}
@keyframes start{
    to {visibility: hidden;}
}